@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: Roboto, sans-serif;
  line-height: 1.17;
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --brightest-color: #ff6b08;
  --tertiary-color: #545454;
  --neutral: #f7f7f7;
  --warning-color: #ff001b;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0px 32px;
}

.container__header {
  padding-top: 40px;
  padding-bottom: 44px;
}

.container__main {
  padding-top: 60px;
  padding-bottom: 28px;
}

.header {
  color: var(--secondary-color);
  background-image: url("../images/header-bg.png");
  background-color: rgb(115, 49, 49);
  background-size: 100%;
}

.nav {
  float: right;
}

.nav-list {
  font-weight: 500;
  text-transform: uppercase;
}

.current {
  border-bottom: 3px solid var(--warning-color);
}

.nav-list__item {
  display: inline;
  font-size: 12px;
}

.nav-list__item:last-child {
  margin-left: 39px;
}

.input-container {
  position: relative;
  width: 394px;
  height: 20px;
  margin: 0 auto;
}

.input::placeholder {
  font-style: 14px;
  line-height: 1.14;
  color: var(--secondary-color);
}

.input {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 0;
  box-sizing: content-box;
  border: none;
  border-bottom: 0.5px solid #fff;
  outline: 0px;
}

.input-notification {
  color: var(--warning-color);
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.input-search-button {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
}

.icon-search {
  display: block;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 30px;
  margin-right: auto;
  font-weight: 500;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list__item {
  width: calc((100% - 32px) / 3);
  margin-right: 16px;
  margin-bottom: 32px;
}

.gallery-list__item:nth-child(3n) {
  margin-right: 0px;
}

.film-card, .other, .production-date, .film-card-genre, .film-card-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.film-card-name {
  margin-top: 12px;
  text-transform: uppercase;
}

.film-card-genre {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 270px;
  color: var(--brightest-color);
  -o-text-overflow: string(" other");
  text-overflow: string(" other");
}

.production-date {
  display: inline-block;
  border-left: 2px solid var(--brightest-color);
  color: var(--brightest-color);
  padding-left: 4px;
  margin-left: 4px;
}

.other {
  color: var(--brightest-color);
}

.footer {
  color: var(--tertiary-color);
  background-color: var(--neutral);
}

.container__footer {
  padding-top: 30px;
  padding-bottom: 28px;
}

.footer-text {
  text-align: center;
}

.footer-link {
  text-decoration: underline;
}

.footer-link:hover {
  cursor: pointer;
}

.heart-link {
  display: inline-block;
  width: 14px;
  height: 13px;
}

.heart-link:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.icon-heart {
  width: 100%;
  height: 100%;
  fill: var(--brightest-color);
  animation-name: heartScale;
  animation-duration: 850ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.75);
  }
}/*# sourceMappingURL=index.css.map */