<header>
  <nav>
    <ul class="nav-list">
      <li class="nav-list__item current">Home</li>
      <li class="nav-list__item">My library</li>
    </ul>
  </nav>
  <label>
    <input type="text" placeholder="Movie search" />
    <p>Search result is not successful. Enter the correct movie name</p>
  </label>
</header>
<main>
  <div class="gallery"><ul class="gallery-list"></ul></div>
</main>
<footer>
  <p class="footer-text">
    © 2020 | All Rights Reserved | Developed with
    <a class="footer-link">by GoIT Students</a>
  </p>
</footer>
