<header class="header">
  <div class="container container__header">
    <a href="" class="logo">Filmoteka</a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__item current"><a href="">Home</a></li>
        <li class="nav-list__item"><a href="">My library</a></li>
      </ul>
    </nav>
    <label>
      <input class="input" type="text" placeholder="Movie search" />
      <!-- <button class="input-search-button" type="submit"> -->
      <svg class="magnifying-glass-icon">
        <use href="./images/sprite.svg#magnifying-glass-icon"></use>
      </svg>
      <!-- </button> -->
      <p class="input-notification">
        Search result is not successful. Enter the correct movie name
      </p>
    </label>
  </div>
</header>
<main>
  <div class="container container__main">
    <div class="gallery"><ul class="gallery-list"></ul></div>
  </div>
</main>
<footer class="footer">
  <div class="container container__footer">
    <p class="footer-text">
      © 2020 | All Rights Reserved | Developed with
      <a class="footer-link">by GoIT Students</a>
    </p>
  </div>
</footer>
