.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0px 32px;
}

.container__header {
  padding-top: 40px;
  padding-bottom: 44px;
}

.container__main {
  padding-top: 60px;
  padding-bottom: 60px - 32px;
}
