.footer {
  color: var(--tertiary-color);
  background-color: var(--neutral);
}

.container__footer {
  padding-top: 30px;
  padding-bottom: 28px;
}
.footer-text {
  text-align: center;
}

.footer-link {
  text-decoration: underline;
}

.footer-link:hover {
  cursor: pointer;
}

.heart-link {
  display: inline-block;
  width: 14px;
  height: 13px;
}

.heart-link:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.icon-heart {
  width: 100%;
  height: 100%;
  fill: var(--brightest-color);
  animation-name: heartScale;
  animation-duration: 850ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.75);
  }
}
