.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-list__item {
  width: calc((100% - 32px) / 3);
  margin-right: 16px;
  margin-bottom: 32px;
}
.gallery-list__item:nth-child(3n) {
  margin-right: 0px;
}

.film-card {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.pattern {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;

  color: transparent;
}
.film-card-name {
  @extend .film-card;
  margin-top: 12px;
  text-transform: uppercase;
}
.genre-date-str {
  color: var(--brightest-color);
  @extend .film-card;
}
.film-card-genre {
  width: auto;

  display: inline-block;

  white-space: wrap;
  // width: 275px;

  height: 24px;
  // text-overflow: clip;
}
.other {
  vertical-align: top;
}
.production-date {
  vertical-align: top;
  display: inline-block;
  border-left: 2px solid var(--brightest-color);
  padding-left: 6px;
  margin-left: 4px;
}
